body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto; /* cria uma margem totalmente proporcional, automaticamente. */
    padding: 15px;
}

header{ /* serve para criar uma DIV apenas para o cabeçalho do site */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 25px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: green;
    text-decoration: none; /* remove o underline dos links */
}

a:hover{ /* responsável por deixar o link brilhando quando o mouse passa em cima */
   color: chartreuse; /* altera a cor que vai brilhar */
   transition: 0.3s all; /* tempo de transição entre todos os elementos presentes no conteúdo */
}


.center {
    text-align: center; /* centraliza os elementos dentro do conteúdo */
}

.icon-loud-header{
    display: inline; /* mantém os elemntos adicionas em linha */
    
}